{% extends "layout.html" %}

{% block app_content %}
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <head>
    <title>VideoFeed</title>
  </head>



    {%raw%}

    <div id='technologicalParams'>
      <button v-if="point===false"  @click="test_raw" class = "btn btn-primary" >testь</button>
        <div class="field">
            <label class="label">Задать  параметры </label> 
        </div>
    
    
        <div class="row">            
            <div class="col-xs-3">
              <b>Name</b>
                <div class="text" required>
                    <input v-model="result.name" class="form-control" type="text" name="name">
                </div>
              </div>
            <div class="col-xs-3">
              <b>Magnitude</b>
                <div class="text" required>                           
                  <input v-model="result.magnitude" type="text" class="form-control" name="magnitude"> 
                </div>
            </div>
        </div>
        <div class="row">            
          <div class="col-xs-3">
            <b>Stretch Magnitude X</b>
              <div class="text" required>
                  <input v-model="result.magnitude_percent_X" class="form-control" type="text" name="name">
              </div>
            </div>
          <div class="col-xs-3">
            <b>Stretch Magnitude Y</b>
              <div class="text" required>                           
                <input v-model="result.magnitude_percent_Y" type="text" class="form-control" name="magnitude"> 
              </div>
          </div>
      </div>
      <div class="row">            
        <div class="col-xs-3">
          <b>Stretch Duration</b>
            <div class="text" required>
                <input v-model="result.stretch_phase_time" class="form-control" type="text" name="name">
            </div>
          </div>
        <div class="col-xs-3">
          <b>Recovery Duration</b>
            <div class="text" required>                           
              <input v-model="result.recover_phase_time" type="text" class="form-control" name="magnitude"> 
            </div>
        </div>
        <div class="col-xs-3">
          <b>Repetitions</b>
            <div class="text" required>                           
              <input v-model="result.cycle_count" type="text" class="form-control" name="magnitude"> 
            </div>
        </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Magnitude</th>
          <th scope="col">Stretch Magnitude X</th>
          <th scope="col">Stretch Magnitude Y</th>
          <th scope="col">Stretch Duration</th>
          <th scope="col">Recovery Duration</th>
          <th scope="col">Repetitions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,i) in final">
          <th scope="row">{{i+1}}</th>
          <td>{{item.name}}</td>
          <td>{{item.magnitude}}</td>
          <td>{{item.magnitude_percent_X}}</td>
          <td>{{item.magnitude_percent_Y}}</td>
          <td>{{item.stretch_phase_time}}</td>
          <td>{{item.recover_phase_time}}</td>
          <td>{{item.cycle_count}}</td>
        </tr>
      </tbody>
    </table>
        <div v-if="result.name !== '' && result.magnitude !=='' && result.magnitude_percent_X !=='' 
        && result.magnitude_percent_Y !=='' && result.stretch_phase_time !=='' 
        && result.recover_phase_time !=='' && result.cycle_count !=='' && point == true ">
          <form method=post target="_blank" enctype=multipart/form-data name="form" class="form">
            <button  type = "submit">Run Experiment</button>
          </form>
        </div>
          <h3 v-else style="color: red"> Заполните все поля, затем нажмите записать</h3>  
        <button v-if="point===false"  @click="addLine" class = "btn btn-primary" >Добавить</button>
        <button v-if="point===false"  @click="onClickSendData" class = "btn btn-primary" >Отправить</button>
        <h3  v-else style="color: red">Параметры сохранены.</h3>
        
        </div>

        <h1>VideoFeed</h1>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="/video_feed" allowfullscreen></iframe>
        </div>

      </div>
      

    
    
    {%endraw%}      
  




    <script>
    var technologicalParams = new Vue({
      el: '#technologicalParams',
      data(){
        return{
          point: false,
          name:'',
          magnitude:'',
          magnitude_percent_X:'',
          magnitude_percent_Y:'',
          stretch_phase_time:'',
          recover_phase_time:'',
          cycle_count:'',
          result:{
            'name':'',
            'magnitude':'',
            'magnitude_percent_X':'',
            'magnitude_percent_Y':'',
            'stretch_phase_time':'',
            'recover_phase_time':'',
            'cycle_count':''
    
          },
          final:[],
        }
      },
      methods:{
        addLine(){
          this.final.push(JSON.parse(JSON.stringify(this.result)))
        },
        test_raw(){
          axios
          .post('/test/save_frame',{'res':'ok'})
          .then((responce)=>{
            console.log(responce);})
          
        },
        onClickSendData(){
          console.log(this.result);
          //this.final.push(JSON.parse(JSON.stringify(this.result)))
          const resultJSON={
            //res:this.result
            res:this.final
          }
          axios
            .post('/post_user_coef/',{ 
            data: resultJSON})
            .then((responce)=>{
              //document.body.innerHTML=responce.data;
              alert('Данные сохранены');
              //this.point=true;
              console.log(responce);
              })
            
        }
      },
    })
    </script>
    
 
{% endblock %}